<mat-dialog-content>
  <button mat-icon-button style="float:right; margin:5px" matDialogClose>
    <mat-icon>close</mat-icon>
  </button>


  <div class="container-xl px-4 mt-4">
    <nav class="nav nav-borders">
      <button (click)="prikaziUredjivanjeProfila($event)" class="navbarButton selected nav-link active ms-0">Uređivanje
        profila
      </button>
      <button (click)="prikaziPromjenuSifre($event)" class="navbarButton not_selected nav-link">Promjena lozinke
      </button>
    </nav>
    <hr class="mt-0 mb-4">
    <div class="row">
      <div class="col-xl-4">
        <div class="card mb-4 mb-xl-0">
          <div class="card-header">Slika profila</div>
          <div class="card-body text-center">

            <img class="img-account-profile rounded-circle mb-2" *ngIf="!this.admin?.slikaKorisnika"
                 src="{{MojConfig.server_adresa}}/Admin/Slika?id={{myAuth.getAuthorizationToken()?.korisnickiNalogID}}"
                 alt="">
            <img class="img-account-profile rounded-circle mb-2" src="{{this.admin?.slikaKorisnika}}">

            <div class="small font-italic text-muted mb-4">Maksimalna velčina slike je 300KB!</div>

            <div class="mb-3 form-group" *ngIf="admin!=null" [formGroup]="adminEditForm" id="novaSl">
              <label for="slika-input">Nova slika:</label>
              <input id="slika-input" type="file" accept="image/*" (change)="generisiPreview()" class="form-control"
                     formControlName="slikaKorisnika">
            </div>

          </div>
        </div>
      </div>
      <div class="col-xl-8" *ngIf="prikaz.prikaziUredjivanjeProfila">
        <div class="card mb-4">
          <div class="card-header">Upravljanje profilom</div>
          <div class="card-body">
            <form [formGroup]="adminEditForm" (ngSubmit)="updatePodataka()">


              <div class="mb-3 form-group" *ngIf="admin!=null">
                <label class="small mb-1" for="korisnickoIme">Korisničko ime:</label>
                <input type="text" class="form-control" id="korisnickoIme" placeholder="Korisničko ime"
                       formControlName="korisnickoIme">
                <span
                  *ngIf="adminEditForm.get('korisnickoIme')?.hasError('required') && adminEditForm.get('korisnickoIme')?.touched"
                  class="text-danger bi bi-exclamation-triangle">
              Korisničko ime je obavezno
              </span>
              </div>
              <div class="row gx-3 mb-3">
                <div class="form-group col-md-6" *ngIf="admin != null">
                  <label class="small mb-1" for="ime">Ime:</label>
                  <input type="text" class="form-control" id="ime" placeholder="Ime" formControlName="ime">
                  <span *ngIf="adminEditForm.get('ime')?.hasError('required') && adminEditForm.get('ime')?.touched"
                        class="text-danger bi bi-exclamation-triangle">
                  Ime je obavezno
                  </span>
                  <span *ngIf="adminEditForm.get('ime')?.hasError('pattern') && adminEditForm.get('ime')?.touched"
                        class="text-danger bi bi-exclamation-triangle">
                  Ime mora počinjati velikim slovom i sadržavati samo slova
                  </span>
                </div>
                <div class="form-group col-md-6" *ngIf="admin!=null">
                  <label class="small mb-1" for="prezime">Prezime:</label>
                  <input type="text" class="form-control" id="prezime" placeholder="prezime" formControlName="prezime">
                  <span
                    *ngIf="adminEditForm.get('prezime')?.hasError('required') && adminEditForm.get('prezime')?.touched"
                    class="text-danger bi bi-exclamation-triangle">
                Prezime je obavezno
                </span>
                  <span
                    *ngIf="adminEditForm.get('prezime')?.hasError('pattern') && adminEditForm.get('prezime')?.touched"
                    class="text-danger bi bi-exclamation-triangle">
                Prezime mora počinjati velikim slovom i sadržavati samo slova
                </span>
                </div>
              </div>


              <div class="mb-3">
                <div class="form-group mb-3" *ngIf="drzava!=null">
                  <label class="small mb-1" for="drzava">Država:</label>
                  <select id="drzava" class="form-control" formControlName="drzava">
                    <option [value]="drzava.id" *ngFor="let drzava of drzava">
                      {{drzava.naziv}}
                    </option>
                  </select>
                </div>
              </div>


              <button type="submit" class="btn btn-danger" *ngIf="admin != null">
                Završi editovanje
              </button>

            </form>
          </div>
        </div>
      </div>


      <div class="col-xl-8" *ngIf="prikaz && prikaz.prikaziPromjenuSifre">
        <div class="card mb-4">
          <div class="card-header">Promjena lozinke</div>
          <div class="card card-body" id="sif">
            <form class="form-group rounded p-4" [formGroup]="loznkaEdit" (ngSubmit)="editLozinka()"
                  (load)="this.dohvatiLozinku()">

              <input formControlName="loz" class="form-control" id="test">

              <div class="form-group" *ngIf="lozinkaGet!=null">
                <label class="small mb-1" for="staraLoz">Stara lozinka:</label>
                <input type="password" class="form-control" id="staraLoz" placeholder="Stara lozinka"
                       formControlName="staraLoz">

                <span *ngIf="loznkaEdit.get('staraLoz')?.hasError('required') && loznkaEdit.get('staraLoz')?.touched"
                      class="text-danger bi bi-exclamation-triangle">
                    Molimo unesite staru lozinku!
                  </span>

                <span class="text-danger bi bi-exclamation-triangle"
                      *ngIf="loznkaEdit.get('staraLoz')?.hasError('areEqual') && loznkaEdit?.touched">
                    Stara lozinka mora biti jednaka trenutnoj lozinci.
                   </span>


              </div>

              <div class="row gx-3 mb-3">
                <div class="form-group col-md-6" *ngIf="loznkaEdit != null">
                  <label class="small mb-1" for="novaLoz">Nova lozinka:</label>
                  <input type="password" class="form-control" id="novaLoz" placeholder="Nova lozinka"
                         formControlName="novaLoz">

                  <span *ngIf="loznkaEdit.get('novaLoz')?.hasError('required') && loznkaEdit.get('novaLoz')?.touched"
                        class="text-danger bi bi-exclamation-triangle">
                    Ukoliko mijenjate lozinku, ovo polje ne smije biti prazno!
                  </span>

                  <span *ngIf="loznkaEdit.get('novaLoz')?.hasError('minlength') && loznkaEdit.get('novaLoz')?.touched"
                        class="text-danger bi bi-exclamation-triangle">
                     Nova lozinka mora sadržavati najmanje 4 karaktera!
                  </span>

                  <span class="text-danger bi bi-exclamation-triangle"
                        *ngIf="loznkaEdit.get('novaLoz')?.hasError('areNotEqual')">
                    Nova lozinka ne smije biti jednaka trenutnoj lozinci.
                 </span>
                </div>


                <div class="form-group col-md-6" *ngIf="loznkaEdit != null">
                  <label class="small mb-1" for="lozinka">Potvrda nove lozinke:</label>
                  <input type="password" class="form-control" id="lozinka" placeholder="Potvrda nove lozinke"
                         formControlName="lozinka">

                  <span *ngIf="loznkaEdit.get('lozinka')?.hasError('required') && loznkaEdit.get('lozinka')?.touched"
                        class="text-danger bi bi-exclamation-triangle">
                    Ukoliko mijenjate lozinku, ovo polje ne smije biti prazno!
                  </span>

                  <span *ngIf="loznkaEdit.get('lozinka')?.hasError('minlength') && loznkaEdit.get('lozinka')?.touched"
                        class="text-danger bi bi-exclamation-triangle">
                    Nova lozinka mora sadržavati najmanje 4 karaktera!
                  </span>

                  <span class="text-danger bi bi-exclamation-triangle"
                        *ngIf="loznkaEdit.get('lozinka')?.hasError('areEqual')">
                    Nova lozinka i potvrda nove lozinke moraju biti jednake.
                  </span>

                </div>
              </div>
              <button type="submit" class="btn btn-danger" id="lozBtn" *ngIf="lozinkaGet != null"
                      (click)="editLozinka()">
                Završi editovanje lozinke
              </button>
            </form>
          </div>

        </div>
      </div>

    </div>
  </div>
</mat-dialog-content>
