<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>


<div id="details" *ngIf="artikalGetByID" (load)="dohvati(artikalGetByID.id)">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-10 mb-4">
        <div class="card text-black" style="width: 100%;">
          <div class="row no-gutters">
            <div class="col-md-6 order-md-1">
              <div class="image-container" style="margin-top: 120px; margin-left:30px">
                <div *ngIf="slike && slike.length > 0">
                  <div id="carouselExample" class="carousel slide carousel-fade" data-ride="carousel">
                    <div class="carousel-inner">
                      <div *ngFor="let slika of slike; let i = index" class="carousel-item"
                           [class.active]="i === currentIndex">
                        <img [src]="slika" [alt]="slika" class="d-block w-100">
                      </div>
                    </div>

                    <a class="carousel-control-prev" (click)="prevSlide()" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"
                            style="background-color: rgb(196, 195, 201); border-radius: 10px;"></span>
                    </a>
                    <a class="carousel-control-next" (click)="nextSlide()" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"
                            style="background-color: rgb(196, 195, 201); border-radius: 10px;"></span>
                    </a>
                  </div>
                </div>

                <div *ngIf="slike.length==0">
                  <img src="{{MojConfig.server_adresa}}/ArtikalSlikaPreview/Slika?id={{artikalGetByID.id}}">
                </div>

              </div>
            </div>
            <div class="col-md-6 order-md-2">
              <div class="card-body">
                <div class="text-center mt-1">
                  <h4 class="text-description"><b>Naziv: </b>{{artikalGetByID.naziv}}</h4>
                  <h1 class="text-description"><b>Cijena: </b>{{artikalGetByID.cijena}} KM</h1>
                  <h1 class="text-description"><b>Proizvođač: </b>{{artikalGetByID.proizvodjac}}</h1>
                </div>
                <div class="text-description"
                     style="width: 100%; height: 400px; overflow-y: auto; white-space: pre-wrap;">
                  <h1><b>Opis: </b></h1>
                  <p>{{artikalGetByID.opis}}</p>
                </div>
                <div class="container-buttons">
                  <button type="button" class="btn btn-danger" data-bs-toggle="collapse"
                          data-bs-target="#kompatibilniEl"
                          style="margin-right: 10px;" (click)="provjeri()">Prikaži kompatibilne elemente
                  </button>
                  <button type="button" class="btn btn-danger" style="margin-right: 10px;" (click)="prikaziRecenzije()">
                    Pregled recenzija
                  </button>
                </div>

                <div class="collapse" id="kompatibilniEl">
                  <div class="card card-body" id="kompEl" *ngFor="let komp of kompatibilnostGetById">
                    <a (click)="otvoriDetalje(komp.id)">{{komp.artikal2Ime}}</a>

                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
</html>

<div class="container-recenzija" style="width: 700px; margin-top: -20px; margin: 0 auto;">
  <form [formGroup]="recenzijaForm" (ngSubmit)="snimiRecenziju()" style="width:100%" *ngIf="MyAuth.isLogiran()">
    <div class="form-group">
      <label for="sadrzaj" style="margin-bottom: 15px;">Recenzija:</label>
      <textarea formControlName="sadrzaj" class="form-control" id="sadrzaj" required style="height: 100px;"></textarea>
      <div
        *ngIf="recenzijaForm.controls['sadrzaj'].invalid && (recenzijaForm.controls['sadrzaj'].dirty || recenzijaForm.controls['sadrzaj'].touched)"
        class="text-danger bi bi-exclamation-triangle">
        Molimo unesite sadržaj recenzije.
      </div>
    </div>
    <button type="submit" class="btn btn-danger" [disabled]="recenzijaForm.invalid || snimanjeRecenzije"
            style="width:30%; margin-bottom: 15px;margin-top:15px; float:right;">
      <span *ngIf="!snimanjeRecenzije">Spasi recenziju</span>
      <span *ngIf="snimanjeRecenzije">Snimanje...</span>
    </button>
  </form>

  <div class="recenzije" *ngIf="prikazi" style="width: 100%; margin-top:90px;">
    <div *ngFor="let recenzija of rec"
         style="margin-bottom: 15px; border:1px solid rgb(220, 53, 69); padding: 5px; border-radius:10px;">
      <div id="sivo">
        <h4>Korisničko ime: {{ recenzija.korisnickoIme }}</h4>
        <h4>Datum dodavanja: {{ recenzija.datumDodavanja | date:'dd.MM.yyyy' }}</h4>
      </div>
      <p>Sadržaj: {{ recenzija.sadrzaj }}</p>
    </div>

    <div *ngIf="ukupnoStranica > 1" class="text-center mt-3 mb-3 red-pagination">
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mx-auto">
          <li class="page-item" [class.disabled]="trenutnaStranica === 1">
            <button class="page-link" (click)="goToPage(trenutnaStranica - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </button>
          </li>
          <li class="page-item" *ngFor="let page of nizStranica()" [class.active]="page === trenutnaStranica">
            <button class="page-link" (click)="goToPage(page)">
              {{ page }}
            </button>
          </li>
          <li class="page-item" [class.disabled]="trenutnaStranica === ukupnoStranica">
            <button class="page-link" (click)="goToPage(trenutnaStranica + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </button>
          </li>
        </ul>
      </nav>
    </div>

  </div>
</div>


